<h2>User Info</h2>

<p>Info for <strong><%= @username %></strong></p>

<ul>
  <li>Email: <%= @info[:email] %></li>
  <li>IUPUI Affiliated: <%= @info[:ul_user] ? "true" : "false" %>
  <li><%= t 'helpers.label.book.department' %>: <%= @info[:department] %></li>
  <li><%= t 'helpers.label.book.campus' %>: <%= @info[:campus] %></li>
  <li><%= t 'helpers.label.book.status' %>: <%= @info[:status] %></li>
  <li>
    <%= link_to 'Example Submission for User', new_book_path(:title => 'TEST SUBMISSION',
                                         :utitle => 'TEST SUBMISSION',
                                         :pub => 'New York : Beginner Books',
                                         :pub_date => '2019',
                                         :isbn => '123456789',
                                         :iucat => '6091603',
                                         :ed => '1st',
                                         :oclc => 'ocm00000000 ',
                                         :pseudo_user => @username) %>
  </li>
</ul>

<h3>New Search</h3>

<%= render 'form' %>

<p>

</p>
