<div class="well sidebar-nav">
  <h3>Admin Links</h3>
    <ul>
    <% if admin? %>
      <li><%= link_to "Logout", :action => 'logout', controller: 'application' %></li>
      <li><%= link_to "Home", books_index_path %></li>
      <li><%= link_to "Requests", books_admin_path %></li>
      <li><%= link_to "User Info", user_info_new_path%></li>
      <li><%= link_to "Messages", notices_path %></li>
      <li>
        <%= link_to 'https://iucat.iu.edu/iupui?f%5Blocation_group_facet%5D%5B%5D=Books+On+Demand+-+IUPUI+University+Library&q=&search_field=all_field', target: "_blank" do %>
          <%= fa_icon "external-link", text: 'IUCAT Books on Demand', right: true %>
        <% end %>
      </li>
      <li>
        <%= link_to 'Example Submission', new_book_path(:title => 'TEST SUBMISSION',
                                             :utitle => 'TEST SUBMISSION',
                                             :pub => 'New York : Beginner Books',
                                             :pub_date => '2019',
                                             :isbn => '123456789',
                                             :iucat => '6091603',
                                             :ed => '1st',
                                             :oclc => 'ocm00000000 ') %>
      </li>
      <!--
      <li>
        <%= link_to 'Example w/ Missing Fields', new_book_path(:title => 'TEST SUBMISSION',
                                             :utitle => 'TEST SUBMISSION',
                                             :pub => 'New York : Beginner Books',
                                             :pub_date => '1901',
                                             :isbn => '',
                                             :iucat => '6091603',
                                             :oclc => 'ocm00000000') %>
      </li>
      -->
    <% end %>
    </ul>
</div>
