<h1>Book Purchase Request</h1>
<p id="notice"><%= notice %></p>
<table class="table">
  <tr>
    <th><%= t 'helpers.label.book.id' %></th>
    <td><%= @book.id %></td>
  </tr>
  <tr>
    <th><%= t 'helpers.label.book.created_at' %></th>
    <td><%= @book.created_at %></td>
  </tr>
  <tr>
    <th><%= t 'helpers.label.book.user' %></th>
    <td><%= @book.name %></td>
  </tr>
  <tr>
    <th><%= t 'helpers.label.book.email' %></th>
    <td><%= @book.email %></td>
  </tr>
  <tr>
    <th><%= t 'helpers.label.book.campus' %></th>
    <td><%= @book.campus %></td>
  </tr>
  <tr>
    <th><%= t 'helpers.label.book.department' %></th>
    <td><%= @book.department %></td>
  </tr>
  <tr>
    <th><%= t 'helpers.label.book.status' %></th>
    <td><%= @book.status %></td>
  </tr>
  <tr>
    <th><%= t 'helpers.label.book.title' %></th>
    <td><%= @book.title %></td>
  </tr>
  <tr>
    <th><%= t 'helpers.label.book.iucat' %></th>
    <td><a href="http://iucat.iu.edu/catalog/<%= @book.iucat %>"><%= @book.iucat %></a></td>
  </tr>
  <tr>
    <th><%= t 'helpers.label.book.utitle' %></th>
    <td><%= @book.utitle %></td>
  </tr>
  <tr>
    <th><%= t 'helpers.label.book.pub' %></th>
    <td><%= @book.pub %></td>
  </tr>
    <tr>
    <th><%= t 'helpers.label.book.pub_date' %></th>
    <td><%= @book.pub_date %></td>
  </tr>
  <tr>
    <th><%= t 'helpers.label.book.isbn' %></th>
    <td><%= @book.isbn %></td>
  </tr>
  <tr>
    <th><%= t 'helpers.label.book.ed' %></th>
    <td><%= @book.ed %></td>
  </tr>
  <tr>
    <th><%= t 'helpers.label.book.oclc' %></th>
    <td><%= @book.oclc %></td>
  </tr>
  <tr>
    <th><%= t 'helpers.label.book.purchase' %></th>
    <td><%= @book.purchase %></td>
  </tr>
  <tr>
    <th><%= t 'helpers.label.book.course' %></th>
    <td><%= @book.course ? 'Yes' : 'No' %></td>
  </tr>
  <tr>
    <th><%= t 'helpers.label.book.further_info' %></th>
    <td><%= @book.further_info %></td>
  </tr>
</table>

<%= link_to 'Edit', edit_book_path(@book), class: 'btn btn-primary' %>
<%= link_to 'Resend Email', resend_book_path(@book), class: 'btn btn-default' %>
<%= link_to 'Delete', book_path(@book), method: :delete, data: {confirm: 'Are your sure?' }, class: 'btn btn-default' %>
